.button {
  @include font700;
  background: linear-gradient(to right, $lime-green, $bright-cyan);
  cursor: pointer;
  border: none;
  outline: none;
  color: $white;
  border-radius: 50px;
  width: 165px;
  height: 45px;
  &:hover {
    background: linear-gradient(
      to right,
      lighten($lime-green, 20),
      lighten($bright-cyan, 20)
    );
  }
}
