@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  font-family: 'Public Sans', sans-serif;
}

@mixin font300 {
  font-weight: 300;
}
@mixin font400 {
  font-weight: 400;
}
@mixin font700 {
  font-weight: 700;
}
